<div id="intro" class="container-fluid">
        <div class="">
    <div class=" img-responsive">
    
        <div id="content" class = "text-center">
            <h2>Environmental Degradation</h2>
        </div>
    
</div>
</div>
<br>
<br>

<div class="container">

<div class="row p1">

<div class="col-sm-12">
<h1>
    Effects of Environmental degradation
</h1>

<p>&nbsp; </p>

<h3><strong>Environmental degradation is the deterioration of the environment through depletion of resources 
such as air, water and soil; the destruction of ecosystems; habitat destruction; the extinction of wildlife;
and pollution.</strong></h3>
<p>&nbsp; </p>

<h4> One of the greatest challenges facing humanity is environmental degradation, including deforestation, 
desertification, pollution, and climate change – an issue of increasing concern for the international 
community. Environmental degradation increases the vulnerability of the societies it affects and contributes
to the scarcity of resources.
<br><br>
Climate change will lead to an increase in the intensity and frequency of weather extremes, such as heat 
waves, floods, droughts and tropical cyclones. The people hardest hit by climate change and environmental 
degradation are those living in the most vulnerable areas, including coastal communities, small island nations,
Sub-Saharan Africa and Asian delta regions. It is the poorest of the poor, who lack the resources to prepare,
adapt and rebuild, that are most affected.
<br><br>
Environmental degradation can lead to a scarcity of resources, such as water and farmable.
Extreme weather events, such as severe flooding, increase the spread of waterborne diseases, such as 
malaria and diarrhoea.
<br><br>
The effects of the major environmental problems on both health and productivity are:</h4>
<br><br>
</div>
</div>

<div class="row p2">
<div class="col-sm-12">
<p class="p2 first" (mouseover)="fun1()" (mouseout)="fun2()">(A) Water pollution and water scarcity: As per the estimation of UN, more than two million deaths and 
billions of illnesses a year are attributable to water pollution. Water scarcity compounds these health 
problems. Productivity is affected by the costs of providing safe water, by constraints on economic activity
caused by water shortages, and by the adverse effects of water pollution and shortages on other environmental
resources such as,declining fisheries and acquifer depletion leading to irreversible compaction.</p>
<div class = "first-image"><img src="/assets/first-image.jpg" class = "img-fluid" alt=""><img src="/assets/first-image2.jpg" class = "img-fluid" alt=""></div>
<p class="p2 second" (mouseover)="fun3()" (mouseout)="fun4()">(B) Air pollution: As per the estimation of UN, urban air pollution is responsible for 300,000—700,000 
deaths annually and creates chronic health problems for many more people. Restrictions on vehicles and 
industrial activity during critical periods affect productivity, as does the effect of acid rain on forests
    and water bodies.</p>
    <div class = "second-image"><img src="/assets/second-image.jpg" class = "img-fluid" alt=""><img src="/assets/second-image2.jpg" class = "img-fluid" alt=""></div>
<p class="p2 third" (mouseover)="fun5()" (mouseout)="fun6()">(C) Solid and hazardous wastes: Diseases are spread by uncollected garbage and blocked drains; the health
risks from hazardous wastes are typically more localized, but often acute. Wastes affect productivity through
the pollution of groundwater resources.</p>	
<div class = "third-image"><img src="/assets/third-image.png" class = "img-fluid" alt=""><img src="/assets/third-image2.jpg" class = "img-fluid" alt=""></div>
<p class="p2 fourth" (mouseover)="fun7()" (mouseout)="fun8()">(D) Soil degradation: Depleted soils increase the risks of malnutrition for farmers. Productivity losses on
tropical soils are estimated to be in the range of 0.5-1.5 per cent of GNP, while secondary productivity losses
are due to siltation of reservoirs, transportation channels and other hydrologic investments.</p>
<div class = "fourth-image"><img src="/assets/fourth-image.jpg" class = "img-fluid" alt=""><img src="/assets/fourth-image2.jpg" class = "img-fluid" alt=""></div>
<p class="p2 fifth" (mouseover)="fun9()" (mouseout)="fun10()">(E) Deforestation: Death and disease can result from the localized flooding caused by deforestation. Loss of 
sustainable logging potential and of erosion prevention, watershed stability and carbon sequestration provided
by forests are among the productivity impacts of deforestation.</p>
<div class = "fifth-image"><img src="/assets/fifth-image.jpg" class = "img-fluid" alt=""><img src="/assets/fifth-image2.jpg" class = "img-fluid" alt=""></div>

<p class="p2 conclusion">Conclusion: The impact of environmental disasters can be devastating on the social, economic, and 
environmental systems of a country or region as well as the global ecosystem. Environmental disasters do not
recognise man-made borders, and threaten the legacy left to future generations of a clean and supportive
environment. Because of the interdependency of earth ecosystems international co-operation is paramount to
prevent, and when disaster strikes, respond to relieve quickly and effectively the effects of environmental
disasters. Thus, Governments, International organizations and communities must work together – at all 
levels – to lessen the risks associated with environmental degradation and its contributing factors, such as 
climate change, and ensure that vulnerable people are prepared to survive and adapt. At the same time,
companies, organizations and individuals must also ensure that their work is environmentally friendly and 
sustainable.</p>


    <a href="https://www.conserve-energy-future.com/causes-and-effects-of-environmental-degradation.php"><input type="submit" value="Know More" class="btn btn-danger"></a>
</div>
</div>
<p>&nbsp; </p>


<p>&nbsp; </p>
</div>


