<div class="container-fluid footer mt-4">
    <div class="row">
        <div class="offset-sm-4 col-sm-4 mt-5">
            <div class="icons text-center">
            <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="offset-sm-3 col-sm-6">
                <div class="details text-center">
                        <a href = "#">FACEBOOK</a>&nbsp;&nbsp;| 
                        &nbsp;<a href = "#">INSTA</a>&nbsp;&nbsp;&nbsp;| 
                        &nbsp;<a href = "#">TWITTER</a>&nbsp;&nbsp;|
                        &nbsp;<a href = "#">EMAIL</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="offset-sm-3 col-sm-6">
            <div class="text-center">
                <h4 class = "foot-brand">
                    SaveThePlanet.org&nbsp;&nbsp;&nbsp;&nbsp;
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="offset-sm-3 col-sm-6">
                <div class="text-center">
                    <h5 class = "foot-brand">
                            <i class="fa fa-copyright"></i>&nbsp;&nbsp;2019&nbsp;&nbsp;
                    </h5>
                </div>
            </div>
        </div>
    </div>
