<div class="container-fluid maindiv">
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
<h2 class="quizHeader text-center">Let's Take a Quick Quiz!</h2>
  
	<table>
	<tr>
	  <td>
	  	<div class = "qstn">
	  		<p class="question">1. What is greenhouse effect?</p>

	    	<ul>
	    	<input class="answer" type="radio" name="q1" value="1">
	        <label id="correctString1" for = "q1">&nbsp;&nbsp;It is a phenomenon that traps long wavelength radiation that leads to more heating and a higher resultant temperature.</label>
	    	<br>
	        <input class="answer" type="radio" name="q1" value="0">
	        <label>&nbsp;&nbsp;It is a phenomenon of releasing heat wave</label>
	        <br>
	        <input class="answer" type="radio" name="q1" value="0">
	        <label>&nbsp;&nbsp;Both A & B</label>
	        <br>
	        <input class="answer" type="radio" name="q1" value="0">
	        <label>&nbsp;&nbsp;None of the above</label>
    		</ul>
	  	</div>
	  </td>
	  </tr>
	  <tr>
	  <td>
	  	<div class = "qstn">
		
	  		<p class="question">2. What are the main the constituent of acid rains?</p>

	    	<ul>
	        <input class="answer" type="radio" name="q2" value="0">
	        <label>&nbsp;&nbsp;Nitrogen Oxide</label>
	        <br>
	        <input class="answer" type="radio" name="q2" value="0">
	        <label>&nbsp;&nbsp;Nitrogen Dioxide</label>
	        <br>
	        <input class="answer" type="radio" name="q2" value="0">
	        <label>&nbsp;&nbsp;Sulphur Dioxide</label>
	        <br>
	        <input class="answer" type="radio" name="q2" value="1">
			<label id="correctString2">&nbsp;&nbsp;All of the above</label>
	        
	    	</ul>
	  	</div>
	  </td>
	</tr>
	<tr>
	  <td>
	  	<div class = "qstn">
	  		<p class="question">3. Which of the following is the best example of Greenhouse effect?</p>

	    	<ul>
	        <input class="answer" type="radio" name="q3" value="0">
	        <label>&nbsp;&nbsp;Weather change</label>
	        <br>
	        <input class="answer" type="radio" name="q3" value="1">
	        <label id="correctString3">&nbsp;&nbsp;Sunlight warms your car</label>
	        <br>
	        <input class="answer" type="radio" name="q3" value="0">
	        <label>&nbsp;&nbsp;Sea Breezes</label>
	        <br>
	        <input class="answer" type="radio" name="q3" value="0">
	        <label>&nbsp;&nbsp;Cloud Bursting</label>
	    	</ul>
		</div>
	  </td>
	  </tr>
	  <tr>
	  <td>
	  	<div class = "qstn">
	  		<p class="question">4. When the problem of ozone depletion was first identified?</p>

	    	<ul>
	        <input class="answer" type="radio" name="q4" value="0">
	        <label>&nbsp;&nbsp;1971</label>
	        <br>
	        <input class="answer" type="radio" name="q4" value="1">
	        <label id="correctString4">&nbsp;&nbsp;1970</label>
	        <br>
	        <input class="answer" type="radio" name="q4" value="0">
	        <label>&nbsp;&nbsp;1972</label>
	        <br>
	        <input class="answer" type="radio" name="q4" value="0">
	        <label>&nbsp;&nbsp;1973</label>
    		</ul>
	  	</div>
	  </td>
	</tr>
		  <tr>
	  <td>
	  	<div class = "qstn">
	  		<p class="question">5. A visible mass of condensed watery vapor floating in atmosphere known as</p>

	    	<ul>
	        <input class="answer" type="radio" name="q5" value="0">
	        <label>&nbsp;&nbsp;Rainfall</label>
	        <br>
	        <input class="answer" type="radio" name="q5" value="1">
	        <label id="correctString5">&nbsp;&nbsp;Clouds</label>
	        <br>
	        <input class="answer" type="radio" name="q5" value="0">
	        <label>&nbsp;&nbsp;High Pressure</label>
	        <br>
	        <input class="answer" type="radio" name="q5" value="0">
	        <label>&nbsp;&nbsp;Low Pressure</label>
    		</ul>
	  	</div>
	  </td>
	</tr>
	</table>
<br/>
  <div class="submitter text-center">
          <input class="quizSubmit" id="submitButton" onClick="submitQuiz()"
          type="submit" value="Submit" />
    </div>
  



<!--show score upon submit-->
    <div>
    	<h2 class="quizScore" id="userScore"></h2>
    </div>
</div>
</div>
</div>