<div class="container-fluid">
<div class="row" id = "maindiv">
    <div class="offset-sm-1 col-sm-10">
            
        <nav id = "navbar" class ="topnav">
            <div class = "logo-holder" style="float:left">
                        <img src="/assets/leaf.jpg" alt="icon" class = "icon-image">
                        <span class="icon-txt">Save The Planet</span>
            </div>
            <a href="javascript:void(0);" class="icon" (click)="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            <div class="otherlinks">
                <a class="button button-primary dropdown">Others <i class = "fa fa-angle-down"></i></a>
                <div class="dropdowncontent">
                     <a routerLink = "/achievers" class = "button button-primary">Achievers</a>
                     <a routerLink = "/effects" class = "button button-primary">Effects</a>
                     <a routerLink = "/guide" class = "button button-primary">Guide</a>
                     <a routerLink = "/ngodetails" class = "button button-primary">NGOs</a>
                     <a routerLink = "/quiz" class = "button button-primary">Quiz</a>
                     <a routerLink = "/currenthappenings" class = "button button-primary">Happenings</a>
                     
                </div>
            </div>
            <a routerLink = "/guide" class = "button button-primary hidden">Guide</a>
            <a routerLink = "/achievers" class = "button button-primary hidden">Achievers</a> 
            <a routerLink = "/currenthappenings" class = "button button-primary hidden">Happenings</a>
            <a routerLink = "/ngodetails" class = "button button-primary hidden">NGOs</a>
            <a routerLink = "/effects" class = "button button-primary hidden">Effects</a>
            <a routerLink = "/quiz" class = "button button-primary hidden">Quiz</a>
            <a routerLink = "/learn" class = "button button-primary">Learn</a>
            <a routerLink = "/donate" class = "button button-primary">Donate</a>
            <a routerLink = "/home#" class = "button button-primary">Home</a>
            </nav>
    </div>
</div>
</div>
