<div class="container-fluid">
<h1>CURRENT HAPPENINGS</h1>


<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
  
    <div class="carousel-item active">
	<!--<div class="container">
  <h3>Tooltip Example</h3>
  <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
</div>-->
    <div class="img-container1">
    </div>
      <div class="carousel-caption text-center">
	  
        <h2>FLOODS</h2>
        
      </div>   
    </div>
    <div class="carousel-item">
      <div class="img-container2">
    </div>
      <div class="carousel-caption text-center">
        <h2>AMAZON RAINFOREST FIRE</h2>
       
      </div>   
    </div>
    <div class="carousel-item">
        <div class="img-container3">
        </div>
      <div class="carousel-caption text-center">
        <h2>GLOBAL WARMING</h2>
        
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br><br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/climate.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Climate Change</h5>
      <p class="card-text">While the truth is plain to see, the inaction of deniers in power positions will only make matters worse. Not only does the Earth’s temperature continue to rise, but the sea levels are rising, too. Both the ocean and the Earth are growing warmer. Greenhouse gasses are a leading cause of climate change.</p>
    <a href="https://www.britannica.com/science/climate-change/Evidence-for-climate-change" class="btn btn-success stretched-link">Check Encyclopaedia</a>
	</div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/deforest.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Deforestation</h5>
      <p class="card-text">Our woodlands create new oxygen and additionally help in managing temperature and precipitation. At present, timberlands cover 30% of the area, but wooded areas are being lost on a regular basis because people are looking for homes, food, and materials.</p>
    <a href="https://www.britannica.com/science/deforestation" class="btn btn-success stretched-link">Check Encyclopaedia</a>
	</div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/global.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Global Warming</h5>
      <p class="card-text">Environmental asset abuse is also an important environmental concern. Fossil fuel utilization brings about discharge of greenhouse gasses, which causes environmental change. However, individuals are taking endeavors to move to renewable energy sources.</p>
    <a href="https://www.britannica.com/science/global-warming" class="btn btn-success stretched-link">Check Encyclopaedia</a>
	</div>
  </div>
</div>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/assets/fire.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Amazon Rainforest Fire</h5>
        <p class="card-text">The Amazon, the world's most biodiverse rainforest, was burning at a rate not seen in almost a decade. It was decried as a global tragedy. Lit by farmers, the fires raged through villages, destroyed ecosystems and pumped climate-warming pollution into the atmosphere</p>
      <a href="https://www.abc.net.au/news/2019-09-19/satellite-images-of-amazon-reveals-human-impact-of-fires/11478580" class="btn btn-success stretched-link">Check Encyclopaedia</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/air-pollution.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Air Pollution</h5>
        <p class="card-text">Poor air quality kills people. Worldwide, bad outdoor air caused an estimated 4.2 million premature deaths in 2016, about 90 percent of them in low- and middle-income countries, according to the World Health Organization. Indoor smoke is an ongoing health threat to the 3 billion people who cook and heat their homes by burning biomass, kerosene, and coal.</p>
      <a href="https://www.nationalgeographic.com/environment/global-warming/pollution/" class="btn btn-success stretched-link">Check Encyclopaedia</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/animal-abuse.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Animal Abuse</h5>
        <p class="card-text">The shocking number of animal cruelty cases reported every day is just the tip of the iceberg—most cases are never reported. Unlike violent crimes against people, cases of animal abuse are not compiled by state or federal agencies, making it difficult to calculate just how common they are. However, we can use the information that is available to try to understand and prevent cases of abuse.</p>
      <a href="https://www.humanesociety.org/resources/animal-cruelty-facts-and-stats" class="btn btn-success stretched-link">Check Encyclopaedia</a>
      </div>
    </div>
  </div>
</div>