<div id="intro" class="container-fluid">
    <div class="full-bg-image">
    
        <div id="content">
            <h2 class = "text-center">Donate</h2>
        </div>
        </div>
    </div>

<br>
<br>

<div class="container">

<div class="row p1">

<div class="col-sm-12">
<h1>
<strong> Help Us Save the Earth! </strong>
</h1>

<p>&nbsp; </p>
<p> Founded in 1972, the current objectives of the Save The Earth Foundation are to provide factual 
educational information to the public about environmental awareness, while helping to fund a variety of 
environmental initiatives as a non-profit public benefit corporation. We currently aim to fund the single 
most impacting environmental changes worldwide. The overall objective of the Save the Earth Foundation is 
to enhance the quality of our global environment for the benefit of all people and promoting a better 
understanding of the effects our society has on the long-term health of our planet.
<br><br>
The Save the Earth Foundation is committed to raising public environmental consciousness, as well as actively
implementing change. Previously, the Save the Earth Foundation funding has helped to support scientific 
environmental research and educational programs in top institutions of higher education. Our generous 
donations made it possible to fund the Climate Center at Columbia University, which analyses and evaluates
the current state of our atmosphere. Similarly, our donations have helped to build UCLA’s Center for the
Study of the Environment and Society, which focuses on the interactions between the environmental and social
processes. We are proud to have also funded the Phytotron Project at Duke University, which focuses on the 
consequences of global warming through large-scale modeling.
<br><br>
Thanks to these climate centers and programs, we currently have much more access to environmental scientific 
discoveries. Presently, the foundation commits to funding the most impacting global environmental initiatives
in order to actively create the change.
<br><br>
With the support of people worldwide from all walks of life, we are confident that the Foundation’s efforts 
will help to reverse the environmental deterioration of our planet.
<br><br>
Thank you for your concern with regards our planet’s future.</p>
</div>
</div>
<p>&nbsp; </p>

        <div class = "text-center">
            <a routerLink="/donatewindow"><img src="/assets/donate.gif"></a>
        </div>

<p>&nbsp; </p>
</div>

