#intro
{
	height:55%;
}
#intro

 {
    background: url("/assets/donate.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#content
{
    padding:80px 50px;
}

#content h2{
	color: white;
	text-align: center;
	font-size: 66px;
	letter-spacing: 2px;
}
.p1
{
font-size: 16px;
color:black;
font-style:bolder;
text-align: justify;
background-color: #F3F2F2;
}
h1
{
	color:#555;
	
}