<div class="container-fluid">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-interval="3000">
                        <img src="/assets/archive1.png" alt="Los Angeles" style="width:100%;height:350px;">
                        <div class="carousel-caption">
                          <h3 style="font-size:50px; margin-bottom:60px;">Achievers</h3>
                         
                        </div>
                  </div>
                  <div class="carousel-item" data-interval = "3000">
                        <img src="/assets/archive2.jpg" alt="Chicago" style="width:100%;height:350px;">
                        <div class="carousel-caption">
                          <h3 style="font-size:50px; margin-bottom:60px;">Achievers</h3>
                         
                        </div>
                  </div>
                  <div class="carousel-item" data-interval = "3000">
                        <img src="/assets/archive3.png" alt="New York" style="width:100%;height:350px;">
                        <div class="carousel-caption">
                        
                          <h3 class = "text-center" style="font-size:50px; margin-bottom:60px;">Achievers</h3>
                          
                        
                        </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

      
      <div class="container mt-5">
          <p id="p1">5 Incredible Indians Who Are No Less Than Heroes For Saving The Planet In Their Own Ways</p>
          <p> &nbsp; </p>
          <div class="row">
          <div class="col-sm-8">
          <p class="p1">Among all the people going about their daily lives every day, too busy to notice that they're mooching 
          on the limited resources of the environment, you sometimes come across people doing their bit. Not for any
          personal gain, but only because they feel a sense of responsibility, a need to give back, and a more holistic
          understanding of things around them. They're few and far between, but they do exist, and their examples really
          need to be followed.
      <br><br>
      Here's a few of them.  </p>
      </div>
      
      </div>
      <div class="row col_6">
      <div class="col-sm-7 box_industries">
          <h2>1. The IIM grad who built a college close to nature</h2>
          <p> &nbsp; </p>
          <p class="p1">Seetha Ananthasivan graduated from IIM-Ahmedabad, but decided she didn't want to pursue 
          management, and wanted to learn about nature and educate people about it instead. This led her to establishing 
          Bhoomi College, on the outskirts of Bangalore. The campus has more than 100 species of trees and encourages
          people to live and work as a community. The college believes that nature is the primary teacher, and the 
          courses here reflect that. It can't have been easy for Seetha to pursue this way of life, especially in the
          70s, but she seems to be doing a stellar job.</p>
          
              <div class="content">
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                       <a href="https://www.scoopwhoop.com/inspiring-stories-of-indians-working-for-the-environment/"><input type="submit" value="Read More" class="btn btn-primary"></a> 	
                       </div>
          </div>
      <div class="col-sm-5">
      <img style ="height:90%; width:85%;"src="/assets/achiever1.jpg" alt="achiever" class="img-edit">
      </div>
      </div>
      <p> &nbsp; </p>
          <hr style=" border: 1px solid black;">
      <div class="row col_6 ">
      <div class="col-sm-7 box_industries">
          <h2>2. The Kerala family that built a dream village</h2>
          <p> &nbsp; </p>
          <p class="p1">Mohan Chavara, a sculptor and his wife Rukmini, a school principal, and their daughters left 
          it all behind and adopted an organic way of life, wherein they build their own houses, grow their own food, 
          and fend for themselves. They, along with 14 other families, have built their own dream village out of an area
          of land they bought together. It involves mud or wooden houses, poultry, goats, cows, pulses and fruit trees.
          Real salt of the earth stuff.</p>
          <div>
       
          <div class="content">
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                       <a href="https://www.scoopwhoop.com/inspiring-stories-of-indians-working-for-the-environment/"><input type="submit" value="Read More" class="btn btn-primary"></a> 	
                       </div>
      </div>
          
          </div>
      <div class="col-sm-5">
      <p> &nbsp; </p>
      <img style ="height:40vh; width:85%;"src="/assets/achiever2.jpg" alt="achiever" class="img-edit">
      </div>
      </div>
          <hr style=" border: 1px solid black;">
      <div class="row col_6">
      <div class="col-sm-7 box_industries">
          <h2>3. The lawyer who cleaned 5 million kgs of trash from Versova beach</h2>
          <p> &nbsp; </p>
          <p class="p1">Afroz Shah, a Mumbai lawyer and ocean lover, took it upon himself to do something about the 
          disgusting filth that covered Versova beach for so long. In 2015, he started a cleanliness drive that soon 
          snowballed into the biggest beach cleanup in the world. Local residents started chipping in, and the UN also
          sent in volunteers to help. Over 85 weeks, they managed to clean 5 million freakin' kgs of garbage and plastic,
          changing the face of the beach in the process.</p>
          
              <div class="content">
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                       <a href="https://www.scoopwhoop.com/inspiring-stories-of-indians-working-for-the-environment/"><input type="submit" value="Read More" class="btn btn-primary"></a> 	
                       </div>
          </div>
      <div class="col-sm-5">
      <p> &nbsp; </p>
      <img style ="height:38vh; width:auto;"src="/assets/achiever3.jpg" alt="achiever" class="img-edit">
      </div>
      </div>
          <hr style=" border: 1px solid black;">
      <div class="row col_6 box_industries">
      <div class="col-sm-7">
          <h2>4. The couple that spent 26 years replanting a forest</h2>
          <p> &nbsp; </p>
          <p class="p1">Anil Malhotra and his wife Pamela Gale Malhotra own India's only private wildlife sanctuary, 
          but it's taken decades of replanting and protecting forests and wildlife to get it to where it is today. Pamela 
          says, "When we first came here, most of the lands that were sold to us, were abandoned lands. Abandoned rice 
          fields, coffee, and cardamom fields as well. A lot of deforestation had taken place. And that took a lot, a lot 
          of care and energy and time and years to bring it back."
      
      From the time they bought it in 1991, the place looks unrecognisable now, in the best way possible.
       It's located in Kodagu district, covers 300 acres and is home to more than 200 globally endangered species of
       plants and animals, including Asian elephants and Bengal tigers.</p>
               <div class="content">
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                       <a href="https://www.scoopwhoop.com/inspiring-stories-of-indians-working-for-the-environment/"><input type="submit" value="Read More" class="btn btn-primary"></a> 	
                       </div>
          
          </div>
      <div class="col-sm-5">
      <p> &nbsp; </p>
      <p> &nbsp; </p>
      <img style ="height:45vh; width:auto;"src="/assets/achiever4.jpg" alt="achiever" class="img-edit">
      </div>
      </div>
          <hr style=" border: 1px solid black;">
      <div class="row col_6">
      <div class="col-sm-7 box_industries">
          <h2>5. The man who's created 48 forests in India in 4 years</h2>
          <p> &nbsp; </p>
          <p class="p1">Shubhendu Sharma used to work as an engineer before he quit his high paying job to start 
          Afforestt, a company that makes natural forests in small spaces using the unique Miyawaki methodology to
          grow saplings. This allows them to convert any land into a self-sustainable forest in a couple of years. 
          They've successfully grown 48 of these forests over 4 years.</p>
          
              <div class="content">
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                      <p> &nbsp; </p>
                       <a href="https://www.scoopwhoop.com/inspiring-stories-of-indians-working-for-the-environment/"><input type="submit" value="Read More" class="btn btn-primary"></a> 	
                       </div>
          
          
      </div>
      <div class="col-sm-5">
      <p> &nbsp; </p>
      <p> &nbsp; </p>
      <img style ="height:40vh; width:auto;"src="/assets/achiever5.webp" alt="achiever" class="img-edit">
      </div>
      </div>
          <h1>These people are the real heroes!</h1>
      </div>