<div class="container-fluid maindiv" >
  <div class="sizer">
    <div class="row back">
      <div class="offset-sm-1 col-sm-10 headers">
        <h1 class="title text-center">Save The Planet</h1>
        <h2 class="sub-title">
          WE CAN START TODAY
        </h2>
        <br />
        <br />
        <a href="home#explore-location">
          <button class="btn btn-explore">
            Explore
          </button>
        </a>
        <h3 class="info-title">
          Let's help each other
        </h3>
      </div>
    </div>
    <div id="explore-location"></div>
    <div class="row content1">
      <div class="offset-sm-3 col-sm-6">
        <br /><br /><br /><br />
        <h1
          class="parallax-caption text-center"
          data-aos="flip-left"
          data-aos-duration="2000"
        >
          OUR PLANET IS SUFFERING
        </h1>
        <br />
        <div
          class="text-center mt-0"
          data-aos="flip-right"
          data-aos-duration="2000"
        >
          <hr class="underline" noshade />
          <br />
          <p class="info-para" data-aos="slide-down" data-aos-duration="2000">
            -&nbsp;&nbsp;Forest area decreased by 2% in the last 2 decades
          </p>
          <p class="info-para" data-aos="slide-up" data-aos-duration="2000">
            -&nbsp;&nbsp;Population is estimated to increase to 10B by 2050
          </p>
        </div>
        <br />
        <br />
        <p
          class="parallax-caption-sub text-center"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="2000"
        >
          Limited Resources. Limitless Wants.
        </p>
      </div>
    </div>
    <br /><br />
    <h1 class="text-center" style="font-weight: bold;" data-aos="fade-right" data-aos-duration="1000">We have a lot of issues to deal with.</h1>
    <br /><br><br>
    <div class="row">
      <div class="col-md-3">
            <div class="flip-card" data-aos="slide-up" data-aos-duration="2000">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="/assets/land2.jpg" alt="Avatar" class = "card-img-top">
                        <p>Deforestation</p>
                      </div>
                      <div class="flip-card-back">
                            <h4 class = "mt-3">11% of emissions.</h4> 
                            <p style = "text-align: justify; padding: 20px">Eleven percent of all global greenhouse gas emissions caused by humans are caused by deforestation — comparable to the emissions from all of the cars and trucks on the planet.</p>
                    </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
            <div class="flip-card" data-aos="slide-up" data-aos-duration="2000">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="/assets/forest.jpg" alt="Avatar" class = "card-img-top">
                        <p>2016: Warmest Year</p>
                      </div>
                      <div class="flip-card-back">
                        <h4 class = "mt-3">2016 ​was the warmest year on record.</h4> 
                        <p style = "text-align: justify; padding: 20px">
                                NASA and NOAA data show that global averages in 2016 were 1.78 degrees F (0.99 degrees C) warmer than the mid-20th century average.</p>
                    </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
            <div class="flip-card" data-aos="slide-up" data-aos-duration="2000">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="/assets/co2.jpg" alt="Avatar" class = "card-img-top" >
                        <p>
                            CO2 Emission
                        </p>
                      </div>
                      <div class="flip-card-back">
                            <h4 class = "mt-3">408 part​s per million.</h4> 
                            <p style = "text-align: justify; padding: 20px">
                                    The concentration of carbon dioxide (CO2)​​​​​​​ in our atmosphere, as of 2018, is the highest it has been in 3 million years.</p>
                    </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
            <div class="flip-card" data-aos="slide-up" data-aos-duration="2000">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="/assets/land.jpeg" alt="Avatar" class = "card-img-top">
                        <p class = "text-center">Global Temperature Rise</p>
                      </div>
                      <div class="flip-card-back">
                            <h4 class = "mt-3">Rising Temperature</h4> 
                            <p style = "text-align: justify; padding: 20px">The planet's average surface temperature has risen about 1.62 degrees Fahrenheit (0.9 degrees Celsius) since the late 19th century, a change driven largely by increased carbon dioxide and other human-made emissions into the atmosphere.</p>
                    </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr class="seperator" data-aos="flip-left" data-aos-duration="
  2500" noshade >
  <br /><br />
  <h3 class="text-center superhero-heading" data-aos="fade-up" data-aos-duration="2000">
    No superhero is going to come and save the day.
      </h3>
  <div class="row">
    <div class="col-sm-12 content3">
      <h4 class="text-center mt-5" data-aos="slide-right" data-aos-duration="1500">We'll have to act on our own.</h4>
      <h4 class="text-center mt-4" data-aos ="slide-right" data-aos-duration="1500">We have to be our own heroes.</h4 >
      <br>
      <br>
      <hr class="content3-ruler" data-aos="flip-right" data-aos-duration="1500" noshade>
      <br>
      <br>
      <h3 class = "text-center" data-aos="fade-up" data-aos-duration="1500">Join us in saving our planet.</h3><br>
      <div class="text-center">
      <a href="home#" >
        <button class="btn btn-explore btn-foot" data-aos="flip-right" data-aos-duration="
        1500">
          Back to Top
        </button>
      </a>
      </div>
      <br>
    </div>
  </div>
  
  
</div>
